<h2>Welcome to your Student Tracker</h2>

<br/>
<%= link_to 'Create Student Record', new_student_path %>




<h3>Listing all students</h3>

<table>
  <tr>
    <th>first</th>
    <th>last</th>
    <th>View</th>
    <th> Edit </th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.firstname %></td>
      <td><%= student.lastname %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
       <td><%= link_to 'Edit', edit_student_path(student) %></td>
       <td><%= link_to 'Delete', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
